<div id="main-container" class="main-size clearfix">
	<div id="main">
		<div class="fixed_container top_filter">
			<ul id="types" class="cat-list clearfix">
				<li id="weibo-index">微博首页</li>
				<li id="my-weibo">我的微博</li>
				<li id="at-me">@我的</li>
				<li id="my-comment">我的评论</li>
				<li id="my-fans">我的粉丝</li>

				<li id="my-follow">我的关注</li>
			</ul>
		</div>
	</div>
	<div>
		<%= render 'list' %>
	</div>
</div>