<table>
	<tr>
		<th>规则名称</th>
		<th>关键字</th>
		<th>原创/转发</th>
		<th>状态</th>
	</tr>
	<% @ruledef.each do |ruledef| %>
		<tr>
			<td><%= ruledef.RuleName %></td>
			<td><%= ruledef.KeyWord%></td>
			<td>
				<% case ruledef.FilterOri.to_i %>
				<% when 0%>
				  全部
				<% when 5%>
				  转发
				<% when 4%>
				  原创
				<% end %>
			</td>
			<td><%= ruledef.RuleType == 1 ? "启动" : "停止" %></td>
		</tr>
    <% end %>
</table>

