<%= javascript_include_tag "/javascripts/userrulemessage.js" %>
<%= javascript_include_tag "/javascripts/test_message.js" %>
<div class="row">
  <div class="main-content" style="width:620px;">
    <div class="page-header">
    	<h2> 我的监控规则 <small> 关键词组合定义</small></h2>
    </div>
    <div id="modal-from-rule" class="">
    	<%= render 'list' %>
    </div>
  </div> 
  <div class="dashboard"> 
    <div class="components">
      <%= render 'rule_list' %>
	</div>
  </div>
  <div id="details-pane-outer">
  	<div class="details-pane-shell">
  		<div class="details-pane" id="details-pane" style="display: none; height: 585px; width: 335px; left: 620px; margin-top: 15px; -webkit-transition-property: none; ">
  			<div class="inner-pane active">
  				<div class="pane-toolbar pane-built-in">
  					<a class="pane-close toolbar-control " rel="pane_close" href="javascript:void(0)">关闭 <span>×</span></a>
					<br style="clear: both">
				</div>
				<div id="pane-load" style="overflow-y:scroll; ">
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
