         <div class="row">
          <div class="main-content" style="width:620px;">
            <div class="page-header">
              <h2> 客户分析报告 <small> 关键词组合定义</small></h2>
            </div>
            
         </div> 
         <div class="dashboard"> 
         		<div class="components">
         		  <div class="component">
         		   <input type="text" id="txtrulename">
         		   <input type="button" class="btn big primary" id="txtruleadd" value="添加新规则" />
         		  </div>
				<hr class="component-spacer">
         		  <div class="component">
					<ul id="ruleselect">
				  </ul>
         		  </div>
				<hr class="component-spacer">
				
				</div>
          </div><!--   dashboard end   --> 
         <%= render 'details_pane' %> 
</div></div>
</div>



 
  