         <div class="row">
          <div class="main-content" style="width:620px;">
            <div class="page-header">
              <h2> 微博传播轨迹 <small> 微博会话串</small></h2>
            </div>
            
         </div> 
         <div class="dashboard"> 
         		<div class="components">
         		  <div class="component">
         		   <input type="text" id="txtrulename">
         		   <input type="button" class="btn big primary" id="txtruleadd" value="添加新规则" />
         		  </div>
				<hr class="component-spacer">
         		  <div class="component">
					<ul id="ruleselect">
				  </ul>
         		  </div>
				<hr class="component-spacer">
				
				</div>
          </div><!--   dashboard end   --> 
         <!--   details pane   --> 
          <div id="details-pane-outer">
			    <div class="details-pane-shell">
              <div class="details-pane" id="details-pane" style="display: none; height: 585px; width: 335px; left: 620px; margin-top: 15px; -webkit-transition-property: none; ">
		    		<div class="inner-pane active">
						  <div class="pane-toolbar pane-built-in">
						          <a class="pane-close toolbar-control " rel="pane_close" href="javascript:void(0)">关闭 <span>×</span></a>
						    <br style="clear: both">
						  </div>
						  <div id="pane-load" style="overflow-y:scroll; ">
						  </div>
			    	</div>
			  </div>
			</div></div>
			<!--   details pane  end --> 
</div>
</div>



 
  